*{
  font-family: "Poppins", sans-serif;
}


.bg-animated{
  /* @apply bg-cover bg-center transition-all duration-500 ease-in-out; */
  animation: bgSlide 9s infinite linear;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out; 
}

@keyframes bgSlide{
  0% {background-image: url('../src/img/061475162988-web-tete-3dm0ek4nrtcistznyl0mps.jpeg');}
  33% {background-image: url('../src/img/23f9f94f2fafda98a1e63c07b58ae78a.jpg');}
  66% {background-image: url('../src/img/30551-mi-1200x630-black-entrepreneur.webp');}
  100% {background-image: url('../src/img/33c468_0949ee2090294f53be2ed04ffa04b262~mv2.webp');}
}

.styleTexte {
  z-index: 1;
}

.form {
  background-image: url(../src/img/R.jpeg);
  background-size: cover;
}

.styleTexte::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 100px;
  backdrop-filter: blur(20px);
  z-index: -1;
}

.partner {
  background-image: url(./img/R.jpeg);
  background-size: cover;
  height: 350px;
  margin-bottom: 150px;
}

.partnerStyle {
  z-index: 1;
}

.partnerStyle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 1px;
  backdrop-filter: blur(20px);
  z-index: -1;
}

.aboutimgstyle {
  padding: 4px;
  border: 3px dashed green;
}

@media (min-width: 768px) and (max-width: 991px) {
  .partner {
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .partner {
    height: auto;
  }
}
@media (max-width: 575px) {
  .partner {
    height: auto;
    margin-bottom: 0px;
  }
}

.bppp:last-child {
  color: white;
  border: 2px solid rgb(12, 157, 12);
  background-color: rgb(12, 157, 12);
  border-radius: 10px;
}

.classe {
  background-color: whitesmoke;
}

.bgcontact {
  background-image: url(../src/img/wp2916561.webp);
  background-size: cover;
}

.contactStyle {
  z-index: 1;
}

.contactStyle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 1px;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.navbarstyle {
  background-color: whitesmoke;
}

@keyframes animate-marquee-slow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-slow {
  animation: animate-marquee-slow 30s linear infinite;
}
